<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ToDo List</title>
  <link rel="stylesheet" href="css/styles.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"> <%= listTitle %> </h1>
    </div>
  </div>

  <div class="box">

      <% newListItems.forEach(function(i){ %>
        <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkbox" value="<%=i._id %>" onChange="this.form.submit()">
          <p> <%= i.name  %> </p>
        </div>
          </form>
      <%  }) %>


    <!-- <% for(var i=0; i<newListItems.length; i++ ){  %>

    <% } %> -->

    <form class="item" action="/" method="post">
      <input type="text" name="addedItem" placeholder="Enter item">
      <button type="submit" name="list" id="add" value=<%= listTitle %>> Add</button>
    </form>

  </div>


</body>

</html>
